/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Geist&family=Geist+Mono&display=swap');

body {
  font-family: 'Geist', sans-serif;
}
